extends layout

block content
	.container
		.list-group
			for each in data
				if each.cover
					a(href='#').list-group-item.list-group-item-action
						img(src='https:'+ each.cover.url)
						h3= each.name
						p= each.summary
