extends layout

block content
	.container
		.list-group
			for each in data
				a(href=`/${each.id}`).list-group-item.list-group-item-action
					if each.cover
						img(src=`https://images.igdb.com/igdb/image/upload/t_1080p/${each.cover.cloudinary_id}.jpg`, height=300)
					h3= each.name
					if each.summary
						p= each.summary
