extends layout

block content
	
	.container
		form.form-signin(action='/register' method='POST')
			h2.form-signin-heading Register
			label(for="name") Name
			input(type="text" name='name' class="form-control" required autofocus)
			label(for="inputEmail") Email Address
			input(type="email" name='email' class="form-control" required)
			label(for="inputPassword") Password
			input(type="password" name='password' class="form-control" required)
			label(for="password-confirm") Confirm Password
			input(type="password" name='password-confirm' class="form-control" required)
			button.btn.btn-lg.btn-block(type='submit') Register &#8594;
