/* Colors

black - #0b2027
blue - #40798c
light green - #aac0af
dark green - #70a9a1
beige - #f6f1d1

*/

/* Universal */
body {
	background-color: #f6f1d1;
	letter-spacing: 1px;
	padding-top: 55px;
}
h4 {
	margin: 50px 0 10px 0;
}
button[type='submit'] {
	background-color: #aac0af;
	margin: 0 0 0 2px;
}
button[type='submit']:hover {
	background-color: #70a9a1;
}
img {
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	max-width: 100%;
}
div.container {
	text-align: center;
}

/* Flashes */
.flash {
	background: white;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
	margin-bottom: 2rem;
	padding: 2rem;
	position: relative;
	z-index: 1;
	border-radius: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.flash__text {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.flash__remove {
	background: none;
	border: 0;
}
.flash__remove:hover {
	color: yellow;
}
.flash--success {
	background: linear-gradient(135deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
}
.flash--error {
	background: linear-gradient(20deg, rgba(255, 0, 0, 1) 0%, rgba(200, 0, 0, 1) 100%);
}
.flash--info {
	background: linear-gradient(35deg, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
}
.flash p {
	margin: 0;
}
.flash:after {
	content: '';
	display: block;
	background: white;
	position: absolute;
	width: calc(100% - 16px);
	height: calc(100% - 16px);
	top: 8px;
	left: 8px;
	z-index: -1;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

/* Main component */
nav {
	background-color: #0b2027;
}
.top {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin: 0 0 50px 0;
}
.nav-item a {
	color: #aac0af !important;
}
.nav-item a:hover {
	color: #70a9a1 !important;
}

.dropdown-menu {
	background-color: #0b2027;
}
#navbar > form > div > a > img {
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

#navbar > form > div > a > img:hover {
	cursor: pointer;
}

.navbar .btn:first-of-type {
	margin: 0 10px;
}

.game {
	background-color: #40798c;
	border-radius: 10px;
	color: #fff;
	margin: 0 0 20px 0;
	padding: 2%;
}

.list,
.similarGames {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.info {
	background-color: #40798c;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-around;
}
.videos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	-webkit-box-pack: justify;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-around;
}

/* Individual components */
.title > img {
	max-height: 400px;
	max-width: 100%;
}
.eachList {
	max-height: 540px;
	margin: 0 1% 3% 0;
	width: 49%;
}
.eachList a {
	height: 540px;
}
.list-group.screenshots {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: space-around;
}
.screenshot {
	margin: 2% 0;
}
.list-group-item.screenshot:last-child {
	margin: 2% 0;
}
.list-group-item {
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	border-radius: 5px;
	cursor: pointer;
}
.list-group-item,
.list-group-item:focus {
	background-color: #aac0af !important;
}
.list-group-item:hover {
	background-color: #70a9a1 !important;
}
.screenshot:hover {
	background-color: #ccc;
}

.similarCover {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 170px;
	width: 19%;
}
.similarCover img {
	height: 90px;
	margin: 0 auto;
	width: 90px;
}
.video {
	background-color: #aac0af;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	margin: 10px 0 0 0;
	padding: 10px 10px 5px 10px;
}
.video iframe {
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.form-signin {
	margin: 0 auto;
	width: 50%;
}
.form-signin label,
.form-signin a {
	margin: 20px 0 0 0;
}

/* button link Transistions */

button[type='submit'],
.list-group-item,
.nav-item a {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Media queries */

@media screen and (max-width: 990px) {
	img {
		height: 200px;
		width: auto;
	}
	.container {
		margin: 0 auto;
		padding: 0;
		width: 90vw;
	}
	.list {
		display: block;
		margin: 0 auto;
		width: 90vw;
	}
	.eachList {
		max-height: 540px;
		width: 100%;
	}
	.eachList a {
		height: auto;
	}
	.top {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.similarGames {
		display: block;
		width: 100%;
	}
	.similarCover {
		margin: 3% 0;
		width: 100%;
	}
}
